body::-webkit-scrollbar{
    display: none;
}

/* Container for the progress circle */
        .progress-circle {
            width: 150px;
            height: 150px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: white;
        }

        /* The background circle */
        .progress-circle::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 10px solid #ddd;
        }

        /* The foreground animated circle */
        .progress-circle .progress-inner {
            width: 100%;
            height: 100%;
            border-radius: 80%;
            border: 10px solid #6a0dad;
            border-top-color: transparent;
            border-right-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
        }

        /* Text in the center of the circle */
        .progress-circle .progress-text {
            position: relative;
            z-index: 1;
        }


        .bmi-category-table .obesity {
            background-color: #ff6961;
        }

        .bmi-category-table .normal {
            background-color: #77dd77;
        }

        .bmi-category-table .underweight {
            background-color: #fdfd96;
        }

        .bmi-category-table .overweight {
            background-color: #ffb347;
        }

        .collapsible-content {
            display: none;
        }

        /* Profile Wrapper */
.profile-wrapper {
    position: relative;
    display: inline-block;
    width: 350px; /* Atur ukuran lebih besar */
    height: auto;
}

/* Gambar Profil */
.profile-image {
    width: 100%;
    height: auto;
    border: none; /* Tidak ada border */
    display: block;
}
